<main>

    <div class="container p-5">
       
        <div class="question">
          <div class="rating-section mt-lg-4">
            
                <i class="fa-solid fa-caret-up upvote" title="This question shows research effort; it is useful and clear"></i>          
           
                <span class="text-center rating-value">10</span>          

           
                <i class="fa-solid fa-caret-down downvote" title="This question does not show any research effort; it is unclear or not useful"></i>
         
          </div>

          <div class="question-section">
            <h3>Title of the question</h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sequi, corrupti sapiente illum vitae sit debitis quo velit fuga excepturi tenetur minus pariatur doloremque, dolore nemo perspiciatis, praesentium dolorum voluptatum? Officia at doloribus totam dolorem laudantium accusamus consequuntur autem fugit?</p>

            <form action="">
                <textarea name="" id="" cols="30" rows="5" placeholder="Answer"></textarea> <br>
                <button class='btn btn-md btn-outline-primary'  type="submit">Answer</button>
            </form>
          </div>

        </div>

        <hr>

        <div class="answers-title">
            <h4 class="text-center">Answers</h4>
        </div>

        <div class="container ps-lg-5">
            <div class="question ps-lg-5 mb-lg-3">
                <div class="rating-section mt-lg-4">
                  
                      <i class="fa-solid fa-caret-up upvote" title="This answer is useful"></i>          
                 
                      <span class="text-center rating-value">10</span>          
      
                 
                      <i class="fa-solid fa-caret-down downvote" title="This answer is not useful"></i>
               
                </div>
      
                <div class="question-section">
                       
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sequi, corrupti sapiente illum vitae sit debitis quo velit fuga excepturi tenetur minus pariatur doloremque, dolore nemo perspiciatis, praesentium dolorum voluptatum? Officia at doloribus totam dolorem laudantium accusamus consequuntur autem fugit?</p>
      
                  <form action="">
                      <textarea name="" id="" cols="30" rows="5" placeholder="Comment"></textarea> <br>
                      <button class='btn btn-md btn-outline-success'  type="submit">Add Comment</button>
                  </form>
                </div>
      
              </div>

              <div class="question ps-lg-5 mb-lg-3">
                <div class="rating-section mt-lg-4">
                  
                      <i class="fa-solid fa-caret-up upvote" title="This answer is useful"></i>          
                 
                      <span class="text-center rating-value">10</span>          
      
                 
                      <i class="fa-solid fa-caret-down downvote" title="This answer is not useful"></i>
               
                </div>
      
                <div class="question-section">
                       
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sequi, corrupti sapiente illum vitae sit debitis quo velit fuga excepturi tenetur minus pariatur doloremque, dolore nemo perspiciatis, praesentium dolorum voluptatum? Officia at doloribus totam dolorem laudantium accusamus consequuntur autem fugit?</p>
      
                  <form action="">
                      <textarea name="" id="" cols="30" rows="5" placeholder="Comment"></textarea> <br>
                      <button class='btn btn-md btn-outline-success'  type="submit">Add Comment</button>
                  </form>
                </div>
      
              </div>

        </div>

    </div>

</main>
