<main>

    <div class="container p-5">
       
        <div class="question">
          <div class="rating-section mt-lg-4">
            
                <i class="fa-solid fa-caret-up upvote"></i>          
           
                <span class="text-center rating-value">10</span>          

           
                <i class="fa-solid fa-caret-down downvote"></i>
         
          </div>

          <div class="question-section">
            <h3>Title of the question</h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sequi, corrupti sapiente illum vitae sit debitis quo velit fuga excepturi tenetur minus pariatur doloremque, dolore nemo perspiciatis, praesentium dolorum voluptatum? Officia at doloribus totam dolorem laudantium accusamus consequuntur autem fugit?</p>

            <form action="">
                <textarea name="" id="" cols="30" rows="5" placeholder="Answer"></textarea> <br>
                <button type="submit">Post</button>
            </form>
          </div>

        </div>

    </div>

</main>
