<main>

<div class="container ps-lg-5  pe-lg-5 ">


    <form action="" class="p-lg-5" (ngSubmit)="submitForm(form)" #form="ngForm">
       
        <fieldset>
            <legend><i class="fa-solid fa-bug text-dark pt-3" title="Hack the bug."></i></legend>

        <div class="input-title ps-5 pe-5 pb-2">
            <label for="title" class="fw-bolder">Title</label> &nbsp; <span *ngIf="title.valid && title.touched" class="errorMessage"><i class="fa-solid fa-circle-check"></i></span><br>
            <input type="text" name="title" id="" placeholder="Enter Title" class="form-control" ngModel required #title="ngModel">
            <span *ngIf="!title.valid && title.touched" class="errorMessage">Please Enter A title</span>
        </div>

        <div class="input-category ps-5 pe-5 pb-2">
            <label for="" class="fw-bolder">Category</label> &nbsp; <span *ngIf="category.valid && category.touched" class="errorMessage"><i class="fa-solid fa-circle-check"></i></span><br>
            <select name="category" id="" class="form-select"  ngModel required #category="ngModel">
                <option value="Angular">Angular</option>
                <option value="Typescript">Typescript</option>
                <option value="Node">Node</option>
                <option value="CSS">CSS</option>
            </select>

            <span *ngIf="!category.valid && category.touched" class="errorMessage">Please Select A Category</span>
        </div>

        <div class="input-question ps-5 pe-5 pb-2">
            <label for="" class="fw-bolder">Question</label>&nbsp; <span *ngIf="question.valid && question.touched" class="errorMessage"><i class="fa-solid fa-circle-check"></i></span>

            <textarea name="question" id="" cols="30" rows="5" class="form-control" placeholder="Add Question" ngModel required #question="ngModel"></textarea>

            <span *ngIf="!question.valid && question.touched" class="errorMessage">Question cannot be empty</span>
        </div>

        <div class="input-question ps-5 pe-5">
            <button class="btn btn-outline-primary" type="submit" [disabled]="!form.valid">Add Question</button> <br>
 
            <span *ngIf="!form.valid && form.touched" class="errorMessage">Fill in all the fields before submitting</span>
            
        </div>

    </fieldset>

    </form> <br>
</div>

</main>