<main>

    <div class="container pb-lg-5">
        <div class="header">
            <h6 class="text-dark fw-bold">Kodehack Analytics</h6>
        </div>


        <div class="stats">

            <div class="answer-card">
                <h4 class="text-primary">Questions</h4>
                <h3>10</h3>
                <div class="footer-card">
                    <p class="fw-bolder">Total Kodehack Questions</p>
                </div>
            </div>

            <div class="answer-card">
                <h4 class="text-primary">Users</h4>
                <h3>10</h3>
                <div class="footer-card">
                    <p class="fw-bolder">Total Kodehack Users</p>
                </div>
            </div>


        </div>
    </div>

</main>