<!-- 
  <main>
    <img src="https://cdn.wallpapersafari.com/92/99/jlmq1O.jpg" alt="">

  </main> -->


<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <!-- <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button> -->
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="6000">
            <img src="https://cdn.wallpapersafari.com/92/99/jlmq1O.jpg" class="d-block w-100 imageLearn " alt="...">
            <div class="carousel-caption d-none d-md-block" style="margin-left: -45rem;">
                <!-- Button trigger modal -->
                <button style="border: none; background-color: transparent;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                   
                  <button class="btn btn-lg btn-outline-primary text-light" routerLink="/home"><a class="navbar-brand " routerLink="">
                    <span><i class="fa-solid fa-code text-warning"></i></span>

                    
                    <span class="text-light">Back Home</span>
                  
                  </a>
                  
                  </button>
                </button>               
                
            </div>
        </div>

    </div>