/* main{
 background-image: url('https://i.pinimg.com/736x/a7/f0/08/a7f008c153c4545bc19eac7157a81e7e--page-design-web-inspiration.jpg');
 background-size: 100, 100;

}
  */

img {
  width: 100vw;
  height: 90vh;
}

.fa-face-smile{
   color:gold;
   font-size: 3rem;
}

