<main class="p-2 pb-5">

    <div class="container">

        <div class="greeting text-center fw-bold p-2">
            <h4> <span class="h6"> Greetings </span> <span class="h4">{{auth.getUserName()}}</span>  </h4>
          
        </div>

        <div class="top-languages-tags pb-5">
            <button class=" btn  btn-sm btn-outline-primary text-dark"> Angular</button>
            <button class=" btn btn-sm btn-outline-primary text-dark"> Typescript</button>
            <button class=" btn btn-sm  btn-outline-primary text-dark">Node Js</button>
            <button class=" btn btn-sm btn-outline-primary text-dark">CSS</button>
        </div>

        <div class="search-bar pb-5">
            <input type="search" name="" id="" placeholder="Search">
        </div>

        <div class="question-section" align="center">

            <div class="question-card" align="left" *ngFor="let question of questionss">

                <h5 [routerLink]="['/debug', question.id ]" class="title" appTitleColor> {{question.title}}</h5>
                <hr>

                <p >  {{question.question|truncatePipe}}</p>
                <span class="fw-light text-primary"> #{{question.category}}</span>
              

                    <div class="card-analytics card-stats">
                        <div class="votes-answers card-stats">
                            <p> <span class="fw-bold"> 10</span>
                                Votes</p>
                            <p><span class="fw-bold"> 10</span> Answers</p>
                        
               
                           
                            <p> <span><span class="fw-bold text-primary">Posted On</span> {{question.timeCreated|date}}</span></p>

                        </div>

                        <div class="author-time">
                            <span><span class="fw-bold"> Posted by</span> {{auth.getUserName()}}</span> <br>
                          
                        </div>
                    </div> <br>


            </div>
            
        </div>



    </div>

</main>