<main class="p-2 pb-5">

    <div class="container">

        <div class="greeting text-center fw-bold p-2">
            <h4>Good Morning Dev</h4>
        </div>

        <div class="top-languages-tags pb-5">
            <button class=" btn  btn-sm btn-outline-primary text-dark"> Angular</button>
            <button class=" btn btn-sm btn-outline-primary text-dark"> Typescript</button>
            <button class=" btn btn-sm  btn-outline-primary text-dark">Node Js</button>
            <button class=" btn btn-sm btn-outline-primary text-dark">CSS</button>
        </div>

        <div class="search-bar pb-5">
            <input type="search" name="" id="" placeholder="Search">
        </div>

        <div class="question-section" align="center">

            <div class="question-card" align="left">

                <h3 routerLink="/debug" class="title">Title of the question</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus deleniti nam, eum minima atque
                    tempore maiores. Soluta nisi rerum iusto.</p>

                    <div class="card-analytics card-stats">
                        <div class="votes-answers card-stats">
                            <p> <span class="fw-bold"> 10</span>
                                Votes</p>
                            <p><span class="fw-bold"> 10</span> Answers</p>

                        </div>

                        <div class="author-time">
                            <span><span class="fw-bold"> Posted by</span> John Doe</span> <br>
                            <span><span class="fw-bold">Posted at</span> 3/3/2023</span>
                        </div>
                    </div>

            </div>
        </div>



    </div>

</main>