

main{
   background: rgba(255, 248, 248, 1);
 }

.top-languages-tags{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
 }

 .search-bar{
    text-align: center;
 }

 .search-bar input{    
    width: 40%;
    padding:0.5rem;
    text-align: center;
}

.question-card{
    border: 1px solid whitesmoke;
    background-color: white;
    padding: 2%;
    width:70%;
    box-shadow:0 0 1rem rgba(0,0,0,0.2);
}

.question-card .title:hover{
  color: blueviolet;
  cursor: pointer;
}

.card-stats {
    display: flex;
    justify-content: space-between;
    gap: 30px;
 }