<nav class="navbar navbar-expand-lg navbar-dark p-3" style="background-color: black;">
    <div class="container">
      <a class="navbar-brand " routerLink=""><span><i class="fa-solid fa-code text-warning"></i></span>
        Kodehack</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        </ul>         
        <form class="d-flex">
          <button class="btn text-light me-2" type="submit" style="border: none;">Login</button>
          <button class="btn btn-light text-dark" type="submit" style="border: none; color: white;">Sign Up</button>
        </form>
      </div>
    </div>
  </nav>
