<nav class="navbar navbar-expand-lg  navbar-dark" style="background-color: black;">

  <div class="container">
    <a class="navbar-brand " routerLink=""><span><i class="fa-solid fa-code text-warning"></i></span>
      Kodehack</a>
      <a class="navbar-brand" routerLinkActive="active" *ngIf="authService.isLoggedIn" routerLink="home">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

      </ul>
      <div class="d-flex pe-3">
        <button class="btn btn-md text-light me-2" style="border: none;" routerLink="login"*ngIf="!authService.isLoggedIn">Login</button>

        <button class="btn btn-md btn-light text-dark"  style="border: none; color: white;"
        routerLink="signup" *ngIf="!authService.isLoggedIn">Sign Up</button>

      </div>

      <button class="btn btn-md text-white fw-bolder" style="background-color: red;" routerLink="bug" *ngIf="authService.isLoggedIn">
        Ask Question
      </button>

      <div class="profile-dropdown" *ngIf="authService.isLoggedIn">

        <div class="image nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false"><img
              src="https://images.unsplash.com/photo-1588442025058-dffe84001858?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=693&q=80"
              alt=""> </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <p routerLink="profile" routerLinkActive="active" class=" dropdown-item profile-link text-center fw-bold h6">Profile</p>
              <hr class="dropdown-divider">

            </li>

            <li>
              <p routerLink="home" routerLinkActive="active"  class=" dropdown-item profile-link text-center fw-bold h6">Home</p>
            </li>
            <hr class="dropdown-divider">


            <!-- <li>
              <p routerLink="bug" routerLinkActive="active"  class=" dropdown-item profile-link text-center fw-bold h6">Add Question</p>
            <!-- </li> -->
            <!-- <hr class="dropdown-divider"> --> 
            <li>
              <p class="dropdown-item text-center profile-link text-center fw-bold h6" (click)="authService.logout()">Logout</p>
            </li>
          </ul>

        </div>
      </div>

     

    </div>
  </div>
</nav>