
<div class="container table-responsive">
    <table class='table border caption-top table-hover text-dark'>

        <caption class="fw-bold text-dark">List of users</caption>
        
        <tr class="border p-2">
            <th class="p-3">Username</th>
            <th>Email</th>
            <th class="p-3">Action</th>
        </tr>

        <tr *ngFor="let user of users" >
            <td class="p-3">{{user.username }}</td>
            <td>{{user.email }}</td>
            <td class="p-3"> <i class="fa-solid fa-trash pt-1 pe-lg-3 h5" style="color: red;"></i></td>
        </tr>

    </table>
</div>