<main>

    <div class="container pt-2 pb-5">

   

    

    <div class="profile-stats">

        <div class="profile">
        <img src="https://images.unsplash.com/photo-1588442025058-dffe84001858?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=693&q=80" alt="">

       <br>
        <span class="h5 fw-bolder">John Doe</span>
        <p>johndoe@gmail.com</p>
        <button class="btn btn-outline-dark text-primary fw-bolder">Edit Profile</button>
        </div>

        <div class="stats">

            <div class="answer-card">
                <h4>Answers</h4>
                <h3>10</h3>
                <div class="footer-card">
                    <p>Total questions asked</p>
                </div>
            </div>

            <div class="answer-card">
                <h4>Questions</h4>
                <h3>10</h3>
                <div class="footer-card">
                    <p>Total answers contributed</p>
                </div>
            </div>


        </div>
    </div>

    <hr>

    <div class="content-filters">
        <p class="border">Recent</p>
        <p class="border">Oldest</p>
        <p class="border">Most Commented</p>
    </div>

    <div class="total-questions">

    <div class="question-card" align="left">
        <div align="right">
            <i class="fa-sharp fa-solid fa-pen-to-square pt-1 pe-lg-3 h5" style="color: blueviolet;"></i>
            <i class="fa-solid fa-trash pt-1 pe-lg-3 h5" style="color: red;" ></i>
        </div>
        <h5 routerLink="/debug" class="title fw-bold">Title of the question</h5>
        <p>Lorem ipsum dolor sit amet consectetur</p>

            <div class="card-analytics">
                <div class="votes-answers card-stats">
                    <p> <span class="fw-bold"> 10</span>
                        Votes</p>
                    <p><span class="fw-bold"> 10</span> Answers</p>
                    <span><span class="fw-bold">Posted at</span> 3/3/2023</span>
                </div>
            </div>
    </div>

    <div class="question-card" align="left">
        <div align="right">
            <i class="fa-sharp fa-solid fa-pen-to-square pt-1 pe-lg-3 h5" style="color: blueviolet;"></i>
            <i class="fa-solid fa-trash pt-1 pe-lg-3 h5" style="color: red;" ></i>
        </div>
        <h5 routerLink="/debug" class="title fw-bold">Title of the question</h5>
        <p>Lorem ipsum dolor sit amet consectetur</p>

            <div class="card-analytics">
                <div class="votes-answers card-stats">
                    <p> <span class="fw-bold"> 10</span>
                        Votes</p>
                    <p><span class="fw-bold"> 10</span> Answers</p>
                    <span><span class="fw-bold">Posted at</span> 3/3/2023</span>
                </div>
            </div>
    </div>

    <div class="question-card" align="left">
        <div align="right">
            <i class="fa-sharp fa-solid fa-pen-to-square pt-1 pe-lg-3 h5" style="color: blueviolet;"></i>
            <i class="fa-solid fa-trash pt-1 pe-lg-3 h5" style="color: red;" ></i>
        </div>
        <h5 routerLink="/debug" class="title fw-bold">Title of the question</h5>
        <p>Lorem ipsum dolor sit amet consectetur</p>

            <div class="card-analytics">
                <div class="votes-answers card-stats">
                    <p> <span class="fw-bold"> 10</span>
                        Votes</p>
                    <p><span class="fw-bold"> 10</span> Answers</p>
                    <span><span class="fw-bold">Posted at</span> 3/3/2023</span>
                </div>
            </div>
    </div>
</div>
</div>
</main>
