<main>

    <div class="container ps-lg-5  pe-lg-5 ">

        <form action="" class="p-lg-5" [formGroup]="form" (ngSubmit)="submitForm()">

            <fieldset>
                <legend><i class="fa-solid fa-hand"></i>
                    <span class="h6"> Welcome back</span>
                </legend>

                <div class="input-title ps-5 pe-5 pb-2">
                    <label for="title" class="fw-bolder">Email</label><span *ngIf="form.get('email')?.valid && form.get('email')?.touched" class="errorMessage"> 
                        &nbsp;<i class="fa-solid fa-circle-check"></i></span><br>

                    <input type="text" name="email" id="email" placeholder="Your email" class="form-control" formControlName="email" >

                    <span class="error" *ngIf="!form.get('email')?.valid && form.get('email')?.touched">

                        <span class="error" *ngIf="form.get('email')!.errors!['required']" class="errorMessage"> PLease Enter an
                            email</span>
                            
                        <span class="error" *ngIf="form.get('email')!.errors!['email']" class="errorMessage"> PLease Enter A Valid email</span>
    
    
                    </span>
                </div>


                <div class="input-question ps-5 pe-5 pb-2">
                    <label for="" class="fw-bolder">Password</label><span *ngIf="form.get('password')?.valid && form.get('password')?.touched" class="errorMessage"> 
                        &nbsp;<i class="fa-solid fa-circle-check"></i></span> <br>
    
                        <input type="password" name="" id="" class="form-control" formControlName="password">
                        
                        <span *ngIf="!form.get('password')?.valid && form.get('password')?.touched" class="errorMessage"> Password must be filled</span>
                </div>

                <div class="input-question ps-5 pe-5 pb-2 d-flex justify-content-between forgot">
                    <button class="btn btn-outline-primary" (click)="AuthService.login()">Login</button>
                    <p class="h6">Forgot Password</p>

                   
                </div>

                <div class="input-question ps-5 pe-5 pb-2">
                    <span *ngIf="!form.valid && form.touched" class="errorMessage">Fill in all the fields to login</span>
                   
                </div>


              

                <div class="signup ps-5 pe-5 pb-2">
                    <p routerLink="/signup" class="h6">
                        <span class="h5"> Create Account</span>
                    </p>
                </div>

            </fieldset>

        </form> <br>
    </div>

</main>