<html lang="en">

<body>
    <img src='dignited.com/wp-content/uploads/2022/08/top10lan.jpg'>
    <marquee behavior="scroll" direction="">Welcome to Kodehack</marquee>
    <h5>Hi <%=name%>
    </h5> 

    <br>
   <p style="width: 100%;">Hi {user.username}</p>
   <br>
   <p>Welcome to Kodehack</p>

</body>

</html>