<footer class=" p-3 text-light" style="background-color: black;">
    <div class="container d-flex justify-content-between">

        <div class="footer-logo">
            <div class="logo">
                <a class="navbar-brand  text-light" href="#"><span><i class="fa-solid fa-code text-warning"></i></span>
                    Kodehack</a>
            </div>

            <div class="support">
                <p href="" class="text-light ms-4 ps-1">Support Us</p>
            </div>         
        </div>

        <div class="footer-company">
            <span class="fw-bold text-light">Company</span> <br>
            <a>About Us</a> <br>
            <a>Blog</a><br>
            <a>Career Guide</a>
        </div>

        <div class="footer-tech">
            <span class="fw-bold">Technologies</span><br>
            <a>Typescript</a><br>
            <a>Node</a><br>
            <a>CSS</a>
        </div>

        <div class="social-media">
            <span class="fw-bolder">Connect With Us</span><br>
            <div class="icons d-flex justify-content-around">
            <h4 class="me-3"><i class="fa-brands fa-square-facebook"></i></h4>
            <h4 class="me-3"><i class="fa-brands fa-linkedin"></i></h4>
            <h4 class="me-3"><i class="fa-brands fa-youtube"></i></h4>
        </div>
        </div>
    </div>

    <div class="container" width="30px">
        <hr>
    </div>
   

    

</footer>