<main class="mt-3">

    <div class="container">
        <div class="admin-greeting">
            <h4 class="text-center">Welcome to the Admin Panel</h4>
        </div>

        <div class="admin-navigation mt-5 mb-4 ">

            <div class="admin-nav  border p-3 " routerLink="analytics">
                <h4>Analytics</h4>
            </div>

            <div class="admin-nav border p-3" routerLink="questions">
                <h4 >Questions</h4>
            </div>


            <div class="admin-nav border p-3" routerLink="users">
                <h4 >Users</h4>
            </div>

        </div>

    </div>
</main>

<router-outlet></router-outlet>